main{
  background: linear-gradient(90deg, rgb(199, 197, 197), rgb(255, 255, 255));
}
/* estilos descripción*/
.contDescripcion {
  margin-left: 80px;
  font-size: 1.4rem;
}
.contDescripcion p {
  margin-bottom: 3px;
}
.contDescripcion h2 {
  color: rgb(10, 91, 89);
  font-size: 3rem;
}
.contDescripcion p:last-of-type {
  margin-bottom: 20px;
}
.contDescripcion span {
  color: rgb(10, 91, 89);
  font-weight: 600;
}

/*estilos imagenes relacionadas y productos relacionados*/
.imagenesRelacionadas img:hover {
  height: 370px;
  transition: 0.5s ease;
}
.imagenesRelacionadas,
.productosRelacionados {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
  column-gap: 15px;
}
.imagenesRelacionadas img {
  height: 350px;
  transition: 0.5s ease;
  border-radius: 20px 0 20px 0;
}
.productosRelacionados img {
  height: 250px;
  border-radius: 20px;
  transition: 1s ease;

}
.productosRelacionados img:hover{
  height: 270px;
  transition: 0.5s ease;
 
}
.productosRelacionados h3 {
  width: 100%;
  text-align: center;
  margin-top: 40px;
  font-size: 2rem;
  color: rgb(10, 91, 89);
}
.productosRelacionados p {
  color: rgb(10, 91, 89);
  font-weight: 600;
}
/* estilos comentarios*/
#divcomentarios {
  margin-left: 50px;
}
.contcomentarios {
  margin-bottom: 10px;
  background-color: cadetblue;
  padding: 5px 30px;
  background-color: rgba(255, 255, 255, 0.498);
}
.contcomentarios p {
  margin-bottom: 5px;
}
/* form comentarios*/
#formulariocomentarios {
  margin: 0 auto;
   width: 50%;
}
#formulariocomentarios h2 {
  color: rgb(10, 91, 89);
}
#divLabel {
  display: flex;
  flex-direction: column;
}
#divLabel textarea {
 border: none;
  overflow-y: scroll;
  resize: none;
  outline: none;
}

#formulariocomentarios span::before{
 display: inline;
  margin-left: -4px;
}
#divcomentarios  span.seleccionar::before{
  display: inline;
  margin-left: -4px;
}
#btnEnvio{
  width: 40%;
  margin: 0 30%;
  margin-bottom: 15px;
  background-color:rgb(10, 91, 89);
  border: none;
  border-radius: 5px;
  color:white;
  font-weight: 500;
  transition: 0.5s ease;
}
#btnEnvio:hover{
  width: 46%;
  margin: 0 27%;
  margin-bottom: 15px;
  transition: 0.5s ease;
}
#estrellas{
  margin-left: 5px;
}
.carousel {
  max-width: 70%; /* Ajusta el ancho máximo del carrusel según tus necesidades */
  max-height: 1000px; /* Ajusta la altura máxima del carrusel según tus necesidades */
  margin: 0 auto; /* Centra el carrusel horizontalmente en el contenedor */
  
  margin-bottom:5px;
  padding: 40px;
}

/* Estilos para achicar las imágenes sin deformarlas */
.carousel-inner img {
  
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

/* Estilos para cambiar el color de fondo de los botones */
.carousel-control-prev,
.carousel-control-next {
  background-color: transparent; /* Fondo transparente */
  border: none;
  font-size: 2rem; /* Tamaño de fuente para los botones */
}

/* Estilos para cambiar el color de los iconos de los botones */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  
  background-color: #0f1010f1; /* Color del icono */
  color: #fff; /* Color de fuente del icono */
}

/* Estilos al pasar el mouse sobre los botones */
.carousel-control-prev:hover,
.carousel-control-next:hover {
  color: #eaf1f8; /* Color de fondo al pasar el mouse */
}